__pycache__/
*.py[cod]
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.ruff_cache/
.snakemake/
*.egg-info/
build/
dist/
.venv/
test_results/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.mmi
*.parquet
*.log
